{% extends "base.html"%}

{% block title %} Calculation {% endblock %}

{% block content %}
    <h2>Calculation</h2>
    <table border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; width: 50%; text-align: left;">
        <thead>
            <tr>
                <th></th>
                <th>Total sales</th>
                <th>Total delivery cost</th>
                <th>Products costs</th>
                <th>Fuel cost</th>
                <th>Salary cost</th>
                <th>Margin</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for delivery_cost in delivery_costs %}
                <td><strong>{{delivery_cost.region}}<strong></strong></td>
                <td>{{delivery_cost.total_sales}}</td>
                <td>{{delivery_cost.total_delivery_costs}}</td>
                <td>{{delivery_cost.total_products_costs}}</td>
                <td>{{delivery_cost.fuel_cost}}</td>
                <td>{{delivery_cost.salary_cost}}</td>
                <td>{{delivery_cost.margin}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}