{% extends "base.html" %}

{% block title %} Calculation {% endblock %}

{% block content %}
    <h2>Calculation</h2>
    <div class="calculation-table-container">
        <div class="calculation-table">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Total sales</th>
                        <th>Total delivery cost</th>
                        <th>Products costs</th>
                        <th>Fuel cost</th>
                        <th>Salary cost</th>
                        <th>Margin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for delivery_cost in delivery_costs %}
                        <td><strong>{{ delivery_cost.region }}</strong></td>
                        <td>{{ delivery_cost.total_sales }}</td>
                        <td>{{ delivery_cost.total_delivery_costs }}</td>
                        <td>{{ delivery_cost.total_products_costs }}</td>
                        <td>{{ delivery_cost.fuel_cost }}</td>
                        <td>{{ delivery_cost.salary_cost }}</td>
                        <td>{{ delivery_cost.margin }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="calculation-form">
            <table>
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <form method="post" action="{% url 'calculation' %}">
                        {% csrf_token %}
                        <tr>
                            <td>Fuel price</td>
                            <td><input type="number" name="fuel_price"></td>
                            <td><button type="submit">Submit</button></td>
                        </tr>
                        {% if errors.fuel_price %}
                        <tr>
                            <td colspan="3" class="error">{{ errors.fuel_price }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Salary</td>
                            <td><input type="number" name="salary"></td>
                            <td><button type="submit">Submit</button></td>
                        </tr>
                        {% if errors.salary %}
                        <tr>
                            <td colspan="3" class="error">{{ errors.salary }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>KW Price</td>
                            <td><input type="number" name="kw_price"></td>
                            <td><button type="submit">Submit</button></td>
                        </tr>
                        {% if errors.kw_price %}
                        <tr>
                            <td colspan="3" class="error">{{ errors.kw_price }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Watts</td>
                            <td><input type="number" name="watts"></td>
                            <td><button type="submit">Submit</button></td>
                        </tr>
                        {% if errors.watts %}
                        <tr>
                            <td colspan="3" class="error">{{ errors.watts }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Lighting hours</td>
                            <td><input type="number" name="lighting_hours"></td>
                            <td><button type="submit">Submit</button></td>
                        </tr>
                        {% if errors.lighting_hours %}
                        <tr>
                            <td colspan="3" class="error">{{ errors.lighting_hours }}</td>
                        </tr>
                        {% endif %}
                    </form>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

















