{% extends "base.html"%}

{% block title %} Calculation {% endblock %}

{% block content %}
    <h2>Calculation</h2>
    <div style="display: flex; justify-content: left">
        <div style="width: 50%; border-right: #1b1b1b solid 1px; margin-left: 40px">
            <h4>Actual data</h4>
            <table border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; width: 50%; text-align: left;">
                <thead>
                    <tr>
                        <th></th>
                        <th>Total sales</th>
                        <th>Total delivery cost</th>
                        <th>Products costs</th>
                        <th>Fuel cost</th>
                        <th>Salary cost</th>
                        <th>Margin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for delivery_cost in delivery_costs %}
                        <td><strong>{{delivery_cost.region}}<strong></strong></td>
                        <td>{{delivery_cost.total_sales}}</td>
                        <td>{{delivery_cost.total_delivery_costs}}</td>
                        <td>{{delivery_cost.total_products_costs}}</td>
                        <td>{{delivery_cost.fuel_cost}}</td>
                        <td>{{delivery_cost.salary_cost}}</td>
                        <td>{{delivery_cost.margin}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="width: 30%; padding-left: 40px">
            <h4>Change parameters</h4>
            <table>
            <form method="post" action="{% url 'calculation' %}">
                {% csrf_token %}
                <tr><td>Fuel price</td>
                    <td><input type="number" name="fuel_price"></td>
                    <td><button type="submit">Submit</button></td></tr>
                <tr><td>Salary</td>
                    <td><input type="number" name="salary"></td>
                    <td><button type="submit">Submit</button></td></tr></tr>
                <tr><td>KW Price</td>
                    <td><input type="number" name="kw_price"></td>
                    <td><button type="submit">Submit</button></td></tr></tr>
                <tr><td>Watts</td>
                    <td><input type="number" name="watts"></td>
                    <td><button type="submit">Submit</button></td></tr></tr>
                <tr><td>Lighting hours</td>
                    <td><input type="number" name="lighting_hours"></td>
                    <td><button type="submit">Submit</button></td></tr></tr>
            </form>
            </table>
        </div>
    </div>
{% endblock %}