{% extends "base.html" %}

{% block title %} Microgreens {% endblock %}

{% block content %}
<div class="product-table-container">
    <h2>Microgreens</h2>
    <br>
    <table class="product-table">
        <thead>
            <tr>
                <th>Název</th>
                <th>Dní růstu</th>
                <th>Množství semen</th>
                <th>Cena semen</th>
                <th>Prodejní cena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.days_of_growth }}</td>
                <td>{{ product.seeds_amount }}</td>
                <td>{{ product.cost_price }}</td>
                <td>{{ product.sale_price }}</td>
                <td>
                    <form method="get" action="{% url 'edit-product' product.pk %}" style="display:inline;">
                        <button type="submit">Upravit</button>
                    </form>
                    <form method="get" action="{% url 'delete-product' product.pk %}" style="display:inline;">
                        <button type="submit">Smazat</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="get" action="{% url 'add-product' %}">
        <button type="submit" class="product-btn-add">Přidat nový druh</button>
    </form>
</div>
{% endblock %}



