{% extends "base.html" %}

{% block title %} Restaurants {% endblock %}

{% block content %}
    <div class="restaurant-table-container" style="text-align: center;">
        <h1>Restaurace</h1>
        <h6>Total sales: {{ total_together }}</h6>
        <h6>Total quantity: {{ total_together_quantity }}</h6>
        {{ message }}
        <br>
        <table class="restaurant-table" border="1" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Název</th>
                    <th>Město</th>
                    <th style="width: 4%;">Km</th> <!-- Zúžený sloupec Distance -->
                    <th>Region</th>
                    <th style="width: 6%;">Doručení</th>
                    <th style="width: 7%;">Řidič</th>
                    <th>E-mail</th>
                    <th style="width: 5%;">CZK</th>
                    <th style="width: 5%;">Množství</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for restaurant_data in restaurants_data %}
                <tr>
                    <td><strong>{{ restaurant_data.restaurant.name }}</strong></td>
                    <td>{{ restaurant_data.restaurant.city }}</td>
                    <td>{{ restaurant_data.restaurant.distance }}</td>
                    <td>{{ restaurant_data.restaurant.region }}</td>
                    <td>{{ restaurant_data.restaurant.region.delivery_day }}</td>
                    <td>{{ restaurant_data.restaurant.region.driver.user.last_name }}</td>
                    <td>{{ restaurant_data.restaurant.email }}</td>
                    <td>{{ restaurant_data.total }}</td>
                    <td>{{ restaurant_data.total_quantity }}</td>
                    <td>
                        <form method="get" action="{% url 'edit-restaurant' restaurant_data.restaurant.pk %}" style="display: inline">
                            <button type="submit">Upravit</button>
                        </form>
                        <form method="get" action="{% url 'delete-restaurant' restaurant_data.restaurant.pk %}" style="display: inline">
                            <button type="submit">Smazat</button>
                        </form>
                        <form method="get" action="{% url 'order-detail' restaurant_data.restaurant.pk %}" style="display: inline">
                            <button type="submit">Detail</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <form method="get" action="{% url 'add-restaurant' %}" style="display: inline;">
            <button type="submit" class="restaurant-btn-add">Přidat Restauraci</button> <!-- Použití třídy pro styl -->
        </form>
    </div>
{% endblock %}



