{% extends "base.html" %}
{% load custom_filters %}

{% block title %} Seed plan {% endblock %}

{% block content %}
    <h2>Seed plan</h2>
    <table class="seed-plan-table">
        <thead>
            <tr>
                <th></th>
                {% for day_dict in seed_week %}
                    <th class="double-header" style="background-color: {{ day_dict.color }}">
                        <span>{{ day_dict.weekday }}</span>
                        <span>{{ day_dict.date }}</span>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                {% for day_dict in seed_week %}
                    {% with product_counts|get_item:product.pk as day_data %}
                        {% if day_data %}
                            {% with day_data|get_item:day_dict.weekday as product_info %}
                                <td style="background-color: {{ product_info.delivery_color|default:'#fff' }}">
                                    {{ product_info.count|default:0 }}
                                </td>
                            {% endwith %}
                        {% else %}
                            <td style="background-color: #fff">0</td>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
















